/* content component CSS */
.gridArea {
    display: grid;
    grid-template-columns: 1fr 1fr;  grid-template-rows: auto;
    grid-template-areas:  "imgArea listArea";
    grid-gap: 10px;
    }
    .common {background-color: pink; border: thick solid black; padding: 10px; margin: 10px; }
    .imgArea {grid-area: imgArea; text-align: left;}
    .listArea {grid-area: listArea;}
